In [53]:
import numpy as np

In [54]:
def random_list(size): #the long way to make the list
    list = []
    for i in range(size):
      list.append(np.random.randint(10,50))
    return list

def sum_random (list): #the long way to find the sum
    sum = 0
    for i in range(len(list)):
      sum = sum + list[i]
    return sum

In [59]:
n = int(input("Enter an integer: "))

Enter an integer: 5

In [60]:
while True: 
  if size < 5 or size > 15:
    size = int(input("Enter a positive integer: "))
  else:
    break

In [61]:
MyList = random_list(n)
MyList

[33, 42, 48, 17, 26]

In [50]:
MySum = sum_random(MyList)
MySum

118

In [51]:
MyList2 = np.random.randint(10,50,n)
MyList2

array([44, 34, 22, 20, 25])

In [52]:
MySum2 = sum(MyList2)
MySum2

145